{{>layout/header}}
<h1>게시글 상세</h1>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="hidden" style="display:none">
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <h5 class="card-title">{{post.title}}</h5>
            <h5 class="card-title">{{post.author}}</h5>
            <p class="card-text"><small class="text-muted">{{post.modifiedDate}}</small></p>
            <p class="card-text">{{post.content}}</p>
            <div class = 'bigPictureWrapper'>
                <div class = 'bigPicture'>
                    <img width="50%" height="50%" src="/api/v1/posts/file/{{post.fileId}}">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-warning" role="button" href="/">홈</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-info" role="button" href="/posts/update/{{id}}">수정</a>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        </div>
    </div>
</div>

{{>layout/footer}}